/* CSS for webpage */
/* Set ALL HTML elements with border-box sizing */

* {
    box-sizing: border-box;
  }

/* main structure of the page */

body {
  background-color: #FFD500;
  margin: 0;  
}
header {
    height: 100px;
    background-color: #FFD500;
}
.wrapper {
    width: 500px;
    margin: auto;
}

/* title of webpage */

header h1 {
   font-family: "Cambria, Times New Roman, serif";
   font-size: 40px;
   color: #00509D;
   margin-center: 26px; 
}

/* text */

p {
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  font-size: 20px;
  color: #00509D;
  margin-left: 20px;
  margin-right: 20px;  
}