/* CSS for webpage */
/* Set ALL HTML elements with border-box sizing */

* {
    box-sizing: border-box;
  }

/* header, logo, footer */

.text-centered {
    text-align: center;
}

.dark-background {
    background-color: #264653;
    color: #F1FAEE;
}

.wrapper {
    width: 525px;
    margin: auto;
}

/* body & main */

.light {
    background-color: #F1FAEE;
}

.light-background {
    width: 600px;
    background-color: transparent;
    color: #000000;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

/* header, image */

header {
    padding: 1px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/* footer */

footer {
    padding: 1px;
    text-align: center;
}

/* heading alignment */

h3 {
    text-align: center;
}

/* text color, font, size */

h1 {
    font-family: "Lucida Handwriting", "Brush Script MT";
    font-size: 40px;
    text-align: center;
    color: #F1FAEE;
}

h2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: #F1FAEE;
}

h3, p, ul, ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #000000; 
}

h4 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

/* horizontal rule */

hr {
    width: 15px;
    height: 15px;
    border: none;
    background: #264653;
    color: #264653;
    margin-top: 30px;
    margin-bottom: 20px;
    transform: rotate(45deg);
}

/* pseudo-classes for links */

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

a:link {color: #0000FF;}
a:visited {color: #008080;}
a:hover {color: #7B68EE;}
a:active {color: #DDA0DD;}

/* end of code */